@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body {
    background-image: url(../assets/fonditopa.jpg);
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

/* Estilos Index */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgba(9, 9, 9, 0.539);
    padding: 10px;
}

h1 {
    color: white;
    font-size: 50px;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

nav .menu-bar li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 15px;
}

.menu-bar li {
    list-style-type: none;
}

.menu-bar {-webkit-animation:tracking-in-contract-bck 2.5s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 2.5s cubic-bezier(.215,.61,.355,1.000) both}

@-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.caja-izquierda {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja-izquierda p {
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.350);
    color: white;
    padding: 30px;
    border-radius: 35px;

}

.caja-derecha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja-derecha p {
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.350);
    color: white;
    padding: 30px;
    border-radius: 35px;

}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.626);
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer div p {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

footer div a img {
    padding: 10px;
}

/* Estilos Acerca de RDM */

.acerca-rdm {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%

}

h3 {
    margin-top: auto;
    font-size: 60px;
    color: white;
    background-color: rgba(9, 9, 9, 0.350);
    padding: 15px;
    border-radius: 30px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.texto-acerca {
    color: white;
    background-color: rgba(9, 9, 9, 0.350);
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    margin: 50px;
}

/* Estilos Contacto */

.contenedor-contacto {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    background-color: rgba(9, 9, 9, 0.530);
    color: white;
    border-radius: 20%;
    padding: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.infoContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.infoContacto label input {
    margin: 10px;
}

.infoContacto label textarea {
    margin: 20px;
}

.boton-contacto {
    display: flex;
    flex-direction: row;
}

.boton-contacto input {
        margin: 15px;
}

.boton {
    width: 80px;
    border-radius: 5%;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos Galería */

.main-galeria{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.galeria-fotos {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;

    width: 80%;
}

h4 {
    font-size: 35px;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.350);
    color: white;
    padding: 20px;
    border-radius: 20px;

}

.box {
    margin: 10px;
}

.box img {
    border-radius: 15px;
}

.otro-boton .b-galeria{
    width: auto;
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.605);
    color: white;

}

