@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

html {
    background-image: url(../assets/fonditopa.jpg);
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos Index */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(9, 9, 9, 0.539);
    padding: 20px;
}

h1 {
    color: white;
    font-size: 50px;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

nav .menu-bar li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 15px;
}

.menu-bar li {
    list-style-type: none;
}

.menu-bar {-webkit-animation:tracking-in-contract-bck 2.5s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 2.5s cubic-bezier(.215,.61,.355,1.000) both}

@-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.caja-izquierda {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.caja-izquierda p {
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.350);
    color: white;
    padding: 30px;
    border-radius: 35px;

}

.caja-derecha {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.caja-derecha p {
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.350);
    color: white;
    padding: 30px;
    border-radius: 35px;

}

main {-webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.626);
    margin-top: auto;
}

footer div p {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

footer div a img {
    padding: 10px;
}

/* Estilos Acerca de RDM */

.main-rdm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%

}

h3 {
    margin-top: 25px;
    font-size: 60px;
    color: white;
    background-color: rgba(9, 9, 9, 0.350);
    padding: 15px;
    border-radius: 30px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.texto-acerca {
    color: white;
    background-color: rgba(9, 9, 9, 0.350);
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    margin: 50px;
}

/* Estilos Contacto */

h2 {
    background-color: rgba(127, 255, 212, 0.441);
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.infoContacto {
    font-size: 40px;
}


