body {
	background-image: url(../assets/fonditopa.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow-y: auto;
}