footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $background-color_3;
	width: 100%;
	margin-top: auto;
	position: fixed;
	bottom: 0;
	div {
		p {
			font-size: 22px;
			font-weight: bold;
			color: $color_1;
		}
		a {
			img {
				padding: 10px;
			}
		}
	}
}
.img-redes {
	width: 50px;
	height: 50px;
	cursor: pointer;
}