.slide {
	margin: 20px;
	margin-top: 30px;
	img {
		height: 80vh;
		object-fit: cover;
	}
}
.letra-carro {
	color: $color_2;
	font-weight: bold;
	background-color: $background-color_5;
}
.titulo-carro {
	color: $color_2;
	font-weight: bold;
	background-color: $background-color_5;
}